@charset "utf-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
a,
b,
span,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
i,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
body {
  font-size: 12px;
  overflow-x: hidden;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
#top {
  width: 100%;
  height: 33px;
  background-color: #0069aa;
  line-height: 33px;
  border-bottom: 1px solid #005c9d;
}
#top > #top-left {
  float: left;
  margin-left: 30px;
  color: #a5c7db;
}
#top > #top-left > span > a {
  color: #fff;
}
#top > #top-right {
  float: right;
  margin-right: 20px;
}
#top > #top-right > ul > li {
  float: left;
  margin: 0 20px;
}
#top > #top-right > ul > li:nth-of-type(1) {
  width: 80px;
}
#top > #top-right > ul > li:hover a,
#top > #top-right > ul > li:hover .iconfont {
  color: #fff;
}
#top > #top-right > ul > li:hover .iconfont {
  transform: rotate(180deg);
  display: inline-block;
  transition: all 0.5s;
}
#top > #top-right > ul > li:hover > div {
  display: block;
  background-color: #fff;
}
#top > #top-right > ul > li:hover > div ul > li {
  text-align: center;
}
#top > #top-right > ul > li > a,
#top > #top-right > ul > li > span {
  color: #a5c7db;
}
#top > #top-right > ul > li > div {
  display: none;
  width: 80px;
  position: absolute;
  z-index: 100;
}
#top > #top-right > ul > li:nth-of-type(5) > div {
  padding: 7px;
  width: 202px;
  height: 132px;
  position: fixed;
  right: 20px;
  top: 34px;
}
#top > #top-right > ul > li:nth-of-type(5) > div > div {
  float: left;
  margin: 10px 0px;
}
#top > #top-right > ul > li:nth-of-type(5) > div img {
  display: block;
  margin: 0 2px;
  width: 82px;
  height: 82px;
  justify-content: space-around;
}
#top > #top-right > ul > li:nth-of-type(5) > div span {
  display: block;
  margin: 0 auto;
  text-align: center;
}
header {
  width: 100%;
  height: 68px;
  background-color: #005c9d;
  display: flex;
  justify-content: space-around;
}
header > div {
  float: left;
}
header #adr span {
  line-height: 68px;
  margin: 0 3px;
  color: #a5c7db;
}
header #adr span:nth-of-type(2) {
  font-size: 16px;
}
header #adr span:nth-of-type(4) {
  border: 1px solid #a5c7db;
  padding: 4px;
  cursor: pointer;
}
header #adr a {
  color: #a5c7db;
}
header #logo {
  margin-left: 0px;
}
header #logo a {
  height: 68px;
  display: block;
}
header #logo a > img {
  width: 233px;
  height: 67px;
}
header #inp {
  position: relative;
  float: right;
  height: 68px;
  margin-right: 20px;
  display: flex;
  width: 310px;
}
header #inp input {
  flex-grow: 1;
  height: 34px;
  color: red;
  background-color: #015c92;
  margin: 16px 20px;
  border: 1px solid blue;
}
header #inp button {
  background-color: transparent;
  border: 0;
  color: white;
  position: absolute;
  right: 60px;
  top: 20px;
  font-size: 22px;
}
header #inp span {
  font-size: 35px;
  line-height: 68px;
  font-weight: bold;
  color: white;
}
header #inp span:nth-of-type(2) {
  position: absolute;
  right: 15px;
  font-size: 20px;
  top: -5px;
  color: yellow;
}
#navbox {
  width: 100%;
  height: 40px;
  background-color: #004b8d;
}
#navbox ul {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#navbox ul #div1 {
  width: 1150px;
  left: -1px;
  top: 38px;
}
#navbox ul #div2 {
  width: 550px;
  left: -2px;
  top: 38px;
}
#navbox ul #div3 {
  width: 550px;
  left: -2px;
  top: 38px;
}
#navbox ul #div4 {
  width: 550px;
  left: -2px;
  top: 38px;
}
#navbox ul #div5 {
  width: 550px;
  left: -2px;
  top: 38px;
}
#navbox ul #div6 {
  width: 390px;
  left: -2px;
  top: 38px;
}
#navbox ul #div7 {
  width: 510px;
  top: 38px;
  left: -2px;
}
#navbox ul #div8 {
  right: -2px;
  width: 650px;
  top: 38px;
}
#navbox ul #div9 {
  right: -2px;
  width: 650px;
  top: 38px;
}
#navbox ul #div10 {
  right: -2px;
  width: 400px;
  top: 38px;
}
#navbox ul #div11 {
  right: -2px;
  width: 270px;
  top: 38px;
}
#navbox ul li {
  line-height: 40px;
  position: relative;
}
#navbox ul li > div > dl a:hover {
  color: #0069aa;
}
#navbox ul li:hover > a {
  color: blue;
}
#navbox ul li > a {
  color: #fff;
}
#navbox ul li:hover {
  background-color: #fff;
}
#navbox ul li:hover > div {
  display: block;
  background-color: #fff;
}
#navbox ul li div {
  position: absolute;
  z-index: 90;
  display: none;
  border: 1px solid #004b8d;
  border-top: 0;
}
#navbox ul li div dl {
  float: left;
  margin-left: 10px;
}
#navbox ul li div dl dt {
  border-bottom: 1px solid black;
  width: 115px;
  height: 36px;
  font-size: 14px;
  font-weight: 600;
}
#navbox ul li div dl dt a {
  color: black;
}
#navbox ul li div dl dd {
  margin-top: 10px;
  font-size: 14px;
}
#navbox ul li div dl dd a {
  color: black;
}
#navbox ul li div dl dd span {
  color: red;
  float: right;
  font-size: 12px;
  margin-right: 10px;
  width: 12px;
}
.lunbotu ol span {
  background-color: #fff;
  color: black;
  padding: 6px;
  cursor: pointer!important;
}
#food {
  background-color: #f8f8f8;
}
#food #banner {
  background-color: #f8f8f8;
  width: 95%;
}
#food #banner p {
  font-weight: bold;
  font-size: 18px;
  height: 80px;
  line-height: 80px;
}
#food #banner > div {
  background-color: #fff;
  margin-top: 25px;
  border-bottom: 1px solid #ccc;
}
#food #banner > div > div {
  text-align: center;
  cursor: pointer;
  width: 20%;
  height: 295px;
  transition: all 0.5s;
  box-sizing: border-box;
}
#food #banner > div > div:hover {
  box-shadow: 1px 0 3px 0px #ccc, -1px 0 3px 0px #ccc;
  color: #0069aa;
}
#food #banner > div > div img {
  width: 208px;
  height: 216px;
}
#food #banner > div > div .first {
  width: 80px;
  height: 80px;
  background: url(../img/pic1.7.png);
}
#food #banner > div > div span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
#food #banner .sql > div {
  position: relative;
  height: 330px;
}
#food #banner .sql > div > .details {
  font-size: 12px;
  font-weight: normal;
}
#kitchen {
  margin-top: 30px;
  height: 658px;
  background: url(../img/bg1.jpg) no-repeat;
}
#kitchen #k1 {
  margin-top: 110px;
  width: 97%;
  height: 530px;
  box-shadow: 1px 1px 3px 0 #ccc, -1px -1px 3px 0 #ccc;
}
#kitchen #k1 .k11 {
  background-color: #fff;
  height: 530px;
}
#kitchen #k1 .k12 {
  background-color: #fff;
  height: 530px;
}
#kitchen #k1 .k12 h1 {
  font-size: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
  font-weight: bold;
}
#kitchen #k1 .k12 h1 span {
  display: block;
  color: #999;
  margin-left: 5px;
  font-weight: normal;
}
#kitchen #k1 .k12 h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
}
#kitchen #k1 .k12 .caipu .col-md-4 img {
  width: 214px;
  height: 138px;
}
#kitchen #k1 .k12 .caipu .col-md-4 .name {
  text-align: center;
  padding: 0 10%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0;
}
#kitchen #k1 .k12 .caipu .col-md-4 .text {
  text-align: center;
  height: 60px;
  line-height: 20px;
  padding: 0 10%;
  overflow: hidden;
  color: #999;
}
#kitchen #k1 .k12 .caipu .col-md-4 .btn-study {
  display: inline-block;
  background: #52b014;
  padding: 5px 15px;
  color: #fff;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 15px;
  margin-left: 60px;
}
#kitchen #k1 .k12 .caipu #k13 {
  margin-left: -12px;
}
.sp1 {
  font-weight: bold;
  font-size: 18px;
  height: 80px;
  line-height: 80px;
}
#konw {
  width: 100%;
  height: 680px;
  background-color: #f8f8f8;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px 0 #ccc, -1px -1px 1px 0 #ccc;
}
#konw > #s1 {
  height: 680px;
  width: 97%;
}
#konw > #s1 .col-md-3 {
  background-color: lime;
  height: 480px;
}
#konw > #s1 .col-md-3 .konw1 img {
  margin-left: -15px;
}
#konw > #s1 .col-md-3 .erweima p {
  float: left;
  margin: 50px 20px;
}
#konw > #s1 .col-md-3 .erweima p img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}
#konw > #s1 .col-md-9 {
  padding-left: 60px;
  height: 680px;
}
#konw > #s1 .col-md-9 .comment {
  margin-top: 40px;
}
#konw > #s1 .col-md-9 .comment > .c1 a {
  float: left;
}
#konw > #s1 .col-md-9 .comment > .c1 a img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
#konw > #s1 .col-md-9 .comment > .c1 .name {
  height: 50px;
}
#konw > #s1 .col-md-9 .comment > .c1 .name a {
  display: block;
}
#free {
  height: 80px;
  margin: 30px 0 20px 0;
}
#free #free1 {
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
}
#free #free1 > div img {
  width: 97%;
  height: 79px;
}
footer {
  widows: 100%;
  height: 300px;
  background-color: #ebebeb;
}
footer #foot {
  width: 95%;
  height: 250px;
  margin: 0 auto;
  position: relative;
}
footer #foot #nav1 > dl:nth-of-type(1) {
  width: 192px;
  height: 190px;
}
footer #foot #nav1 > dl:nth-of-type(1) img {
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto;
}
footer #foot #nav1 > dl:nth-of-type(1) p {
  width: 120px;
  margin: 0 auto;
  text-align: center;
  color: #666;
  margin-top: 5px;
}
footer #foot #nav1 > dl {
  float: left;
  width: 168px;
}
footer #foot #nav1 > dl > dt {
  height: 30px;
  line-height: 30px;
}
footer #foot #nav1 > dl > dt:hover a {
  color: #0069aa;
}
footer #foot #nav1 > dl > dt a {
  color: #333;
}
footer #foot #nav1 > dl > dd > a:hover {
  color: #0069aa;
}
footer #foot #nav1 > dl > dd a {
  margin-top: 10px;
  display: block;
  color: #666;
}
footer #foot #nav2 {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translatex(-50%);
}
footer #foot #nav2 > p:nth-of-type(1) {
  text-align: center;
}
footer #foot #nav2 > p > a {
  color: #666;
}
